### Function

In [1]:
def greeting():
    print("welcome to this conceptual session - 1 ")
greeting()

welcome to this conceptual session - 1

In [4]:
#positional parameter 
def greeting(name):
    print("welcome to this conceptual session - 1 ",name)
greeting("Rakib")

welcome to this conceptual session - 1  Rakib

In [9]:
# Keyword  parameter 
def greeting(name,age):
    print(f"{age} your age and name {name}")
greeting(name = "Rakib", age = 32)

32 your age and name Rakib

In [12]:
def addition(a,b,c,d):
    return a+b+c+d
print(addition(1,8,5,6))

20

In [13]:
def add(*a):
  print(type(a))
  print(a)

add(1, 2, 3, 4, 5, 6, 7, 8)

<class 'tuple'>
(1, 2, 3, 4, 5, 6, 7, 8)

In [16]:
def info(**k):
    print(type(k))
    print(f"{k['name']} age is: {k['age']} and {k['country']} and Phone number:{k['phone']}")

info(age=20, name="Rakib", country="bd", phone="01821", )

<class 'dict'>
Rakib age is: 20 and bd and Phone number:01821

In [17]:
def func()->float:
  return 10

print(func())

10

In [28]:
# Dictionary Return
def get_student():
    student = {
        "name": "Rakib",
        "age": 21,
        "Country":"Bangladesh",
        "city": "Dhaka"
    }
    return student

info = get_student()
print(info['name'],info['Country'])
print(type(info))

Rakib Bangladesh
<class 'dict'>

In [29]:
def get_student():
    student1 = {
        "name": "Rakib",
        "age": 21,
        "city": "Dhaka"
    }
    student2 = {
        "name": "Rakib2",
        "age": 21,
        "city": "Dhaka2"
    }
    return (student1,student2)

x, y = get_student()
l = list(get_student())
print(l)

[{'name': 'Rakib', 'age': 21, 'city': 'Dhaka'}, {'name': 'Rakib2', 'age': 21, 'city': 'Dhaka2'}]

In [30]:
def get_student():
    student1 = {
        "name": "Rakib",
        "age": 21,
        "city": "Dhaka"
    }
    student2 = {
        "name": "Rakib2",
        "age": 21,
        "city": "Dhaka2"
    }
    return (student1, student2)

students = get_student()

for s in students:
    print(s["name"], s["city"])

Rakib Dhaka
Rakib2 Dhaka2

### Iterator

In [31]:
arr = [10, 20, 30, 40]

itr = iter(arr) # initial count 0 index 
print(next(itr)) #
print(next(itr))
print(next(itr))
print(next(itr))

10
20
30
40

In [32]:
student = {'name': 'Alice', 'age': 20, 'city': 'Dhaka'}


itr = iter(student.keys())
print(next(itr))
print(next(itr))

for a in student.keys():
  print(a)

name
age
name
age
city

### Generator

In [33]:
def fun():
  for i in range(5):
    print("Kaj shuru holo ", i)
    yield i


ltr = fun()
print(next(ltr))
# #sdfsdf
# #sdfsdf
print("hello ")
print(next(ltr))

Kaj shuru holo  0
0
hello
Kaj shuru holo  1
1

###  List Comprehension

In [34]:
numbers = [1, 2, 3, 4, 5]
squared = []

for num in numbers:
    squared.append(num * num)

print(squared)

[1, 4, 9, 16, 25]

In [35]:
numbers = [1, 2, 3, 4, 5]

squared = [n for n in numbers]

print(squared)

[1, 2, 3, 4, 5]

In [36]:
numbers = [1, 2, 3, 4, 5]

squared = [n for n in numbers if n%2==1]

print(squared)

[1, 3, 5]

In [37]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

squared = [n*n if(n*n >30) else 0 for n in numbers if n%2==1]

print(squared)

[0, 0, 0, 49, 81]

In [38]:
scores = [85, 42, 76, 91, 35]
grades = [f'Pass {s}' if s >= 50 else f'Fail {s}' for s in scores]
print(grades)

['Pass 85', 'Fail 42', 'Pass 76', 'Pass 91', 'Fail 35']

In [39]:
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
f = [j for i in matrix for j in i]

print(f)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [40]:
students = [
    {'name': 'Alice', 'age': 20},
    {'name': 'Bob', 'age': 22},
    {'name': 'Charlie', 'age': 19}
]

names = [s['name'] for s in students]
print(names)

['Alice', 'Bob', 'Charlie']

In [41]:
# CSV data cleaning
raw_data = [' 25 ', '30 ', ' 42', 'abc', '50']

clean = [int(r.strip()) for r in raw_data if r.strip().isdigit()]

print(clean)
# [25, 30, 42, 50]

[25, 30, 42, 50]

In [42]:
d = [ [[1, 3], [4, 5]], [[6, 7], [8,9]]]

a = [k  for i in d for j in i for k in j]
print(a)

# for i in d:
#   for j in i:
#     for k in j:
#       print(k)

[1, 3, 4, 5, 6, 7, 8, 9]